
body{

    background-color: rosybrown;
}

.omlette , .crepe , .oatmeal {
    width: 300px;
    border: 15px solid green;
    padding: 20px;
    margin: 20px auto;
    display: block;
    background-color: aqua;
  }


.head{
text-align: center;
font-size: 80px;
color:cornflowerblue;
background-color:beige;
width: 500px;
margin: 60px auto;
padding: 20px;
border: 3px dotted blue;

}

.extra{

    border: 10px dashed red;
    border-left: 20px dotted purple;
    width: 200px;
    height: 300px;
    text-align:center;
    background-color: beige;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 10px;
}


.food{
font-size:50px;
font-weight: bold;
text-align: center;
}




a{
    text-decoration: none;
    color:coral
}

a:hover {
    color: black ;
    background-color: #cfc ;
  }

 

